<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/style.css"/>
  <title>{{title}}</title>
</head>
<body>
  
  <article class="main">

  {{>header}}
    


  <h2>About</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis iure, dignissimos ex, ratione maiores est ab eveniet nemo explicabo praesentium officiis, non repellat ipsam ut voluptate alias aperiam. Quisquam.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae itaque mollitia numquam consectetur. Recusandae aut sequi culpa, tempore, magni autem delectus rem fugit necessitatibus, dolores ipsum molestiae iure? Harum, natus!</p>
  </article>
  {{>footer}}
</body>
</html>