<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/style.css"/>
  <title>{{title}}</title>
</head>
<body>
  
  <article class="main">

  {{>header}}

 
    

  <h2>Blogs</h2>

  <h3>Air Pressure and Weather</h3>
The weather events happening in an area are controlled by changes in air pressure. Air pressure is caused by the weight of the huge numbers of air molecules that make up the atmosphere. Typically, when air pressure is high there skies are clear and blue. The high pressure causes air to flow down and fan out when it gets near the ground, preventing clouds from forming. When air pressure is low, air flows together and then upward where it converges, rising, cooling, and forming clouds. Remember to bring an umbrella with you on low pressure days because those clouds might cause rain or other types of precipitation.

<h3>Predicting Weather</h3>
Meteorologists develop local or regional weather forecasts including predictions for several days into the future. The best forecasts take into account the weather events that are happening over a broad region. Knowing where storms are now can help forecasters predict where storms will be tomorrow and the next day. Technology, such as weather satellites and Doppler radar, helps the process of looking over a large area, as does the network of weather observations.

The chaotic nature of the atmosphere means that it will probably always be impossible to predict the weather more than two weeks ahead; however, new technologies combined with more traditional methods are allowing forecasters to develop better and more complete forecasts.

<h3>Weather and Climate</h3>
The average weather pattern in a place over several decades is called climate. Different regions have different regional climates. For example, the climate of Antarctica is quite different than the climate of a tropical island. Global climate refers to the average of all regional climates.

 As global climate changes, weather patterns are expected to change as well. While it is impossible to say whether a particular day’s weather was affected by climate change, it is possible to predict how patterns might change. For example, scientists predict more severe weather events as climate warms. Also, they predict more hot summer days and fewer extreme cold winter days. That doesn’t mean that there will be no more winter weather, in fact, large snowstorms might even be more likely in some areas as less cold air is able to carry more water with which to make snowflakes.

Weather is also affected by climate events like El Nino and La Nina (together known as ENSO). Climate events like these affect the weather in many areas of the world causing extreme events like storms and droughts. 

 
  </article>
  {{>footer}}  
</body>
</html>