{{!-- header.hbs --}}

  <header>
    <img class="icon" src="img/icon1.png" alt="icon"/>
    <h1 class="pagetitle">{{page}}</h1>
    {{!-- <hr> --}}
    <nav>
      <a href="/">Home</a>
      {{!-- <a href="/weatherinfo">Weather</a> --}}
      <a href="/about">about</a>
      <a href="/blogs">blogs</a>
    </nav>

  </header>